extends layout

block content
    h1= 'Claire Gizard'
    p My name is Claire Gizard. I'm 22 years old. I come from France and I am in Finland for a year. I'm studying computer development at Epitech.