doctype html
html
    head
        title= 'Claire Gizard - Curriculum'
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        a(href='/') Home
        br
        a(href='/contact') Contact Information
        br
        a(href='/experience') Professional Experience
        br
        a(href='/about') About Me
        br
        a(href='/skill') My Skills

        block content